<?xml version="1.0"?>
<robot name="bot101">
    <link name="base_link" >
        <visual>
            <geometry>
                <cylinder length="0.6" radius="0.25" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.6" radius="0.25" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.25" />
            <inertia ixx="0.0003" iyy="0.0003" izz="0.0003" ixy="0" ixz="0" iyz="0" />
        </inertial>
    </link>

    <link name="sub_link" >
        <visual>
            <geometry>
                <cylinder length="1" radius="0.1" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <cylinder length="1" radius="0.1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.25" />
            <inertia ixx="0.0003" iyy="0.0003" izz="0.0003" ixy="0" ixz="0" iyz="0" />
        </inertial>
    </link>

    <joint name="base_to_sub" type="fixed">
        <parent link="base_link" />
        <child link="sub_link" />
        <axis xyz="1 0 0" />
        <limit effort="10" upper="0" lower="10" velocity="1" />
        <origin rpy="0 0 0" xyz="0.5 0 0" />
    </joint>
</robot>  